@forward 'global';

@mixin flexCenter($justify:center, $align_items:center, $direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align_items;
    flex-direction: $direction;
}

@mixin hoverStyle{
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.4s;  
}

@keyframes breathe {
    0%{
        transform: scale(0.9);
        opacity: 0;
    }

    50%{
        transform: scale(1.4);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes mymove{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mymove1{
    0%, 100%{
        transform: translateY(50%);
    }

    50%{
        transform: translateY(0);
    }
}

@keyframes mymove2{
    0%, 100%{
        transform: translateY(-20%);
    }

    50%{
        transform: translateY(0);
    }
}


@keyframes star {
    0%,100%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }
}

@keyframes star2 {
    0%,100%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.5);
    }
}

*, html{
    scroll-behavior: smooth;
}

body{
    @include flexCenter($justify:flex-start, $direction:column);
    position: relative;
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    max-width: 1920px;
    margin: 0 auto;

    header{
        width: 100%;
        position: fixed;
        z-index: 99;
        background-color: #8F2A29;
        
    
        .navbar{
            @include flexCenter($direction: column);
            gap: 0.5rem;
            margin: 0.5rem 1rem;
    
            @media (min-width: 1024px) {
                margin: 1rem 6rem 0.5rem 6rem;            
            }

            &__main{
                @include flexCenter(space-between);
                width: 100%;

                @media (min-width: 768px) {
                    
                }
                

                &__logo{
                    max-height: 3rem;
                    margin-left: 1rem;
                }

                &__social{
                    @include flexCenter;
                }

                &__item{  
                    position: relative;   
                    @include flexCenter;
                    margin: 0 0.5rem;    
    
                    @media (min-width: 1024px) {                       
                    }

                    &__icon{
                        padding: 0.5rem;
                        font-size: 24px;
                        color: #ffffff;
                    }


                    &::after{
                        @include hoverStyle;                      
                    }

                    &:hover::after{
                        transform: scaleX(1); 
                    }
                }
            }           
        }

        .navbar-sub{
            @include flexCenter($justify: flex-start);
            list-style: none;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-snap-align: center;


            @media (min-width: 640px) {
                @include flexCenter;                
            }

            &__item{             
                min-width: 110px;
                @include flexCenter;  

                @media (min-width: 640px) {
                    padding-bottom: 0.5rem;
                }             

                a{
                    position: relative;
                    color: #ffffff;
                    

                    p{
                        @include flexCenter;
                        padding: 0.5rem;

                        &::after{
                            @include hoverStyle;                      
                        }
        
                        &:hover::after{
                            transform: scaleX(1); 
                        }
                    }
                }
                
                
            }

        }
    }
    
    .bar-up{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 48px;
        height: 48px;
        @include flexCenter;
        margin: 0.5rem;
        font-size: 32px;
        background: #ffffff;
        border-radius: 100%;
        z-index: 98;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    }
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: clip;
    

    @media (min-width: 768px) {
        
    }

    @media (min-width: 1024px) {

    }

    &__container{
        width: 100%;
        height: 100%;  
        position: relative;
        @include flexCenter;
        
        &__content{
            @include flexCenter($direction: column);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
    
            @media (min-width: 768px) {
                
            }
            

            .title_img{
                margin-top: 7rem;
                animation: breathe 1s ease-in-out;
                max-width: 350px;

                @media (min-width: 768px) {  
                    max-width: 550px; 
                }

                @media (min-width: 992px) { 
                }

                @media (min-width: 1024px){                    
                }
            }

            .subtitle_img{
                max-width: 350px;
                animation: mymove 1.6s ease-in-out;

                @media (min-width: 768px) { 
                    max-width: 500px; 
                }

                @media (min-width: 1024px) { 
                    max-width: 450px; 
                }
            }       

        }

        #moon, #fg-right, #fg-left, #leaf-right, #leaf-left, #fg-right-md, #fg-left-md{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #fg-right, #fg-left{
            display: none;

            @media (min-width: 640px) {
                display: block;                
            }
        }

        #fg-right-md, #fg-left-md{
            display: block;

            @media (min-width: 640px) {
                display: none;                
            }
        }

        &__cloud{
            width: 100%;
            height: 75%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            @media (min-width: 640px) {
                @include flexCenter($direction: column);   
            }

            &__top{
                width: 100%;
                height: 50%;
                @include flexCenter($justify: space-between);

                #cloud1{
                    max-width: 150px;
                    margin-top: 7rem;
                    animation: mymove1 5s ease-in-out infinite;
                }

                #cloud2{
                    max-width: 150px;
                    margin-right: 7rem;
                    animation: mymove2 5s ease-in-out infinite;
                }

            }

            &__bottom{
                width: 100%;
                height: 50%;
                @include flexCenter($justify: space-between);

                #cloud3{
                    max-width: 150px;
                    margin-left: 15rem;
                    animation: mymove2 5s ease-in-out infinite;
                }

                #cloud4{
                    max-width: 150px;
                    margin-right: 15rem;
                    margin-bottom: 15rem;
                    animation: mymove1 5s ease-in-out infinite;
                }

            }
        }

        &__stars{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &__wrapper{
                width: 100%;
                height: 100%;
                position: relative;

                #star1{
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    animation: star 2s ease-in-out infinite;
                }

                #star2{
                    position: absolute;
                    top: 30%;
                    left: 20%;
                    animation: star 2s ease-in-out infinite;
                }

                #star3{
                    position: absolute;
                    top: 40%;
                    right: 30%;
                    animation: star 2s ease-in-out infinite;
                }

                #star4{
                    position: absolute;
                    top: 20%;
                    right: 10%;
                    animation: star 2s ease-in-out infinite;
                }

            }
        }

    }


}

.sec{
    width: 100%;
    overflow-x: hidden;
    overflow-y: clip;
    margin-bottom: 8rem;
}



.section2{
    @include flexCenter;
    background: url('../img/bg_s2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;

    @media (min-width: 640px) {        

    }

    @media (min-width: 768px) {        
    
    }

    @media (min-width: 1024px) {        
 
    }

    &__container{
        @include flexCenter($direction:column);
        width: 100%;
        height: 100%;
        background: none; 
        position: relative;  

        @media (min-width: 640px) {

        }

        #star5{
            position: absolute;
            top: 20%;
            right: 35%;
            animation: star 2s ease-in-out infinite;
        }

        #star6{
            position: absolute;
            top: 5%;
            right: 10%;
            animation: star 2s ease-in-out infinite;
        }

        #star7{
            position: absolute;
            top: 30%;
            left: 10%;
            animation: star 2s ease-in-out infinite;
        }



        .free{
            @include flexCenter($justify: flex-start,$direction: column);            
            margin: 1.5rem;

            @media (min-width: 640px) {
                @include flexCenter($direction: row);

            }

            @media (min-width: 768px) {
                @include flexCenter($direction: column);

            }

            @media (min-width: 1024px) {

            }


            &__items{
                display: none;
                width: 100%;                

                @media (min-width: 768px) {
                    @include flexCenter;
                }

                @media (min-width: 1024px) {
                
                }

                a{
                    @include flexCenter;
                    width: 30%;
                    margin: 0.5rem;

                    @media (min-width: 640px) {
                        
                    }
    
                    @media (min-width: 768px) {
                        
                    }
    
                    @media (min-width: 1024px) {
                        
                    }

                    img{
                        object-fit: contain;
                        width: 100%;
                    }
                }
            }

            .swiper{
                margin: 1rem;
                width: 200px;
                height: 250px;
                @include flexCenter;

                @media (min-width: 768px) {
                    display: none;                    
                }

                .swiper-wrapper{

                    .swiper-slide{

                        a{
                            width: 100%;

                            img{
                                object-fit: contain;
                                width: 100%;
                            }
                        }
                    }
                }


                .swiper-pagination-bullet {
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    opacity: 1;
                    background: rgba(0, 0, 0, 0.2);
                }

                .swiper-pagination-bullet-active {
                    background: #8F2A29;
                }

            }
            
        }



    }
}


.cake-right{
    position: absolute;
    top: 30%;
    right: -5%;
    animation: mymove1 8s infinite ease-in-out;
}

.cake-left{
    position: absolute;
    bottom: 15%;
    left: -5%;
    animation: mymove2 5s infinite ease-in-out;
}

.light-right{
    position: absolute;
    bottom: 25%;
    right: 0%;
    animation: star2 5s infinite ease-in-out;
}

.light-left{
    position: absolute;
    top: 5%;
    left: 0;
    animation: star2 5s infinite ease-in-out;    
}


.s_product{
    @include flexCenter($direction: column);
    width: 100%;
    position: relative;


    .s_product_title{
        @include flexCenter;
        width: 100%;

        img{            
            width: 100%;
            margin-top: 8rem;
            

            @media (min-width: 1024px) {
                width: 50%;
            }
        }
    }

    .s_product_container{
        position: relative;
        @include flexCenter;
        padding: 1rem;
        width: 100%;

        @media (min-width: 768px) {

        }

        @media (min-width: 1024px) {

        }


        .card-wrapper-outline{
            @include flexCenter;
            padding: 0.5rem;
            background: radial-gradient(#ffffff, #f9ae3b);
            outline: solid 2px #ffffff;
            position: relative;

        }

        .cube{
            width: 1rem;
            height: 1rem;
            outline: solid 2px #ffffff;
            position: absolute;
        }

        #cube1{
            top: 0;
            left: 0;
        }

        #cube2{
            top: 0;
            right: 0;
        }

        #cube3{
            bottom: 0;
            left: 0;
        }

        #cube4{
            bottom: 0;
            right: 0;
        }


        .card-wrapper{
            width: 100%;
            @include flexCenter($direction: column);
            padding: 0.25rem;
            background: radial-gradient(#ffffff, #f9ae3b);
            outline: solid 2px #ffffff;

            @media (min-width: 768px) {
                padding: 0.5rem;                
            }
            

    
            @media (min-width: 1024px) {
                @include flexCenter;
                padding: 1rem;      
            }
    
            .row{
                @include flexCenter;
            }
            
            
            a{
                @include flexCenter;
    
                .card{         
                    @include flexCenter($align-items: flex-start,$direction: column);
                    justify-self: center;
                    transition: all 0.3s;
                    margin: 0.5rem;
                    min-width: 150px;
                    max-width: 250px;
                    
    
                    @media (min-width: 768px) {
    
                    }
    
                    @media (min-width: 1024px) {
    
                    }
                    
                    
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.03);
                        box-shadow: 0px 0px 20px #ffffff;    
                        
                    }
    
                    &__img{
                        width: 100%;
                    }
        
        
                    &__body{
                        @include flexCenter($align_items: flex-start, $direction: column);
                        background: #ffffff;
                        width: 100%;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        padding: 1rem;
        
                        &__title{
                            min-height: 75px;
                            width: 100%;

                            @media (min-width: 768px) {   
                            }
                        }
        
                        &__price{
                            @include flexCenter($direction: column,$align_items: baseline);
                            margin: 1rem 0;

                            @media (min-width: 1024px) {

                            }
                            
                            h6{
                                color: #8F2A29;
                            }

                            span{
                                margin: 0 0 0.5rem 0rem;
                                text-decoration: line-through;
                            }
                        }
    
                        &__cta{
                            padding: 0.5rem;
                            font-size: 1rem;
                            background-color: #8F2A29;
                            color: #ffffff;
                            @include flexCenter;
                            border-radius: 4px;
                            width: 100%;

                            @media (min-width: 768px) {
                            }

                            &:hover{
                                background-color: #C63A39;                                    
                            }

                        }
                    }
                }
            }
    
        }
    }


}


footer{
    @include flexCenter($align-items: flex-start ,$direction: column);    
    width: 100%;
    padding: 1rem;
    background: #FAFAFA;

    @media (min-width: 1024px) {
        padding: 1rem 6rem;        
    }
    
    ul li{
        list-style: none;
    }

    .footer__content{
        @include flexCenter($justify: flex-start ,$align-items: flex-start ,$direction: column);
        width: 100%;

        @media (min-width: 1024px) {
            @include flexCenter($justify: space-between,$align-items: flex-start, $direction: row);            
        }
    }

    .footer__title{
        margin: 1.5rem 0 0;

        @media (min-width: 1024px) {
            margin: 1rem 0 0;            
        }
    }



        
    

    .brand_logo{
        @include flexCenter;
        width: 100%;
        border-radius: 4px;
        background-color: #8F2A29;


        @media (min-width: 1024px) {
            width: 30%;            
        }

        img{
            margin: 1rem;
            max-width: 60px;

        }


    }

    .otherinfo{
        @include flexCenter($justify: flex-start);
        width: 100%;

        @media (min-width: 1024px) {
            @include flexCenter($justify: space-between, $align-items: flex-start);
            width: 30%;            
        }
    }

    .aboutus{
        @include flexCenter($align_items: flex-start ,$direction: column);
        margin-right: 2rem;
        &__items{
            margin: 0.75rem 0 0;
            @include flexCenter($align_items: flex-start ,$direction: column);
            

            &__item{
                padding: 0.5rem 0;
                position: relative;
                cursor: pointer;
                gap: 0.25rem;

                a{
                    @include flexCenter($direction: column);
                    &::after{
                        @include hoverStyle;                      
                    }
            
                    &:hover::after{
                        transform: scaleX(1); 
                    }

                    &:hover{
                        color: #8F2A29;
                    } 
                }
            }
        }
    }


    .follow{
        width: 100%;

        @media (min-width: 1024px) {
            width: 30%;            
        }

        &__items{
            @include flexCenter($align-items: flex-start, $justify: flex-start, $direction: column);
            gap: 0.5rem;
            margin: 1rem 0 0;

            &__item{
                @include flexCenter($direction: column);
                width: 100%;

                input{
                    width: 100%;
                    padding: 0.5rem 1rem;
                }

                button{
                    width: 100%;
                    background-color: #8F2A29;
                    color: #ffffff;
                    border: 0;
                    border-radius: 0.25rem;
                    padding: 1rem;
                    margin: 0.5rem 0 1rem 0;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: #C63A39;
                    }
                }

            }

            &__download{
                @include flexCenter($justify: space-between);
                width: 100%;
                a{
                    width: 50%;

                    img{
                        object-fit: contain;
                        width: 100%;
                        

                        @media (min-width: 768px) {
                            
                        }
                    
                    }
                }



            }

        }
    }

    .copy-right{
        @include flexCenter($justify: space-between);
        width: 100%;
        margin: 1rem 0 0;
        border-top: solid 1px;
        padding: 1rem;

        @media (min-width: 1024px) {
            margin: 3rem 0 0;            
        }

        p{
            color: #B3B3B3;
        }
    }
}









